@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}


.home-section {
    padding: 180px 80px;
    background-color: #3c4359;
    background: linear-gradient(140deg, #3c4359, #000000);
    position: relative;
    min-height: 100vh;
    top: 0;
    left: 78px;
    width: calc(100% - 78px);
    transition: all 0.5s ease;
    z-index: 2;
}


.sidebar.open~.home-section {
    left: 250px;
    width: calc(100% - 250px);
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');



.container {
    width: 85%;
    background-color: #000000;
    background: linear-gradient(140deg, #000000, #3c4359);
    border-radius: 6px;
    padding: 20px 60px 30px 40px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.container .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container .content .left-side {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    position: relative;
}

.content .left-side::before {
    content: '';
    position: absolute;
    height: 70%;
    width: 2px;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    background: #afafb6;
}

.content .left-side .details {
    margin: 14px;
    text-align: center;
}

.content .left-side .details i {
    font-size: 30px;
    color: #fff;
    text-decoration: none;
    margin-bottom: 10px;
}

.content .left-side .details .topic {
    font-size: 18px;
    font-weight: 500;
    color: #F0F1F8;
    text-decoration: none;
}

.content .left-side .details .text-one,
.content .left-side .details .text-two {
    font-size: 14px;
    text-decoration: none;
    color: #afafb6;
}


.container .content .right-side {
    width: 75%;
    margin-left: 75px;
}

.content .right-side .topic-text {
    font-size: 23px;
    font-weight: 600;
    color: #ffffff;
}



.anim-link {
    display: inline-block;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 63px;
    font-weight: 600;
    color: #ffffff;
    padding: 30px;
}

.anim-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: rgb(255, 255, 255);
    transition: width .3s;
}

.anim-link:hover::after {
    width: 100%;
}

.content .right-side p {
    font-size: 15px;
    font-weight: 600;
    color: #ffffff;
}

.right-side .input-box {
    height: 50px;
    width: 100%;
    margin: 12px 0;
}

.right-side .input-box input,
.right-side .input-box textarea {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    background: #F0F1F8;
    border-radius: 6px;
    padding: 0 15px;
    resize: none;
}

.right-side .message-box {
    min-height: 110px;
}

.right-side .input-box textarea {
    padding-top: 6px;
}

.right-side .button {
    display: inline-block;
    margin-top: 12px;
}

.right-side .button input[type="submit"] {
    font-size: 18px;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 1.5rem;
    padding: 0.8rem 1.2rem;
    border: 2px solid #fff;
    border-radius: 0.5rem;
    font-size: 1.4rem;
    color: white;
    background-color: transparent;
    transition: all 0.5s ease;
}

.button input[type="submit"]:hover {
    transform: scale(1.1);
}
::selection {
    background-color: #2e3448;
    color: rgb(255, 255, 255);
}


::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
}


@media (max-width: 950px) {
    .container {
        width: 90%;
        padding: 30px 40px 40px 35px;
    }

    .container .content .right-side {
        width: 75%;
        margin-left: 55px;
    }
}

@media (max-width: 820px) {
    .container {
        margin: 40px 0;
        height: 100%;
    }

    .container .content {
        flex-direction: column-reverse;
    }

    .container .content .left-side {
        width: 100%;
        flex-direction: row;
        margin-top: 40px;
        justify-content: center;
        flex-wrap: wrap;
    }

    .container .content .left-side::before {
        display: none;
    }

    .container .content .right-side {
        width: 100%;
        margin-left: 0;
    }

}

#lg {
    transition: all 0.5s ease;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

}

#lg:hover {
    transform: scale(1.2);
}

.link {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #afafb6;
    transition: all .15s ease-in-out
}

.link:hover {
    padding-bottom: 0.05em;
    border-bottom: 1px solid #afafb6 !important;
}