<!-- 
   @{Author}: https://github.com/llx404    
 -->
 <!DOCTYPE html>
 <html lang="en">
 
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RaidTools - Base</title> 
    <link rel="shortcut icon" href="/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/login.css">
 </head>
 
 <body>
     <div class="content">
        <a href="/user/token"><button id="gobtn"> <img src="https://cdn.discordapp.com/emojis/847072563539738675.webp?size=96&quality=lossless" alt="user" class="logo"></button></a>
        <br> <span style="color: #fff;text-overflow: #000;" class="info">User</span>
        <h1>Or</h1>
        <a href="/bot/token"><button id="gobtn"> <img src="https://cdn.discordapp.com/emojis/968641894060015637.webp?size=96&quality=lossless" alt="user" class="logo"></button></a>
        <br> <span style="color: #fff;text-overflow: #000;" class="info">Bot</span>
     </div>
 </body>
 
 </html>