<!-- 
   @{Author}: https://github.com/llx404    
 -->
 <!DOCTYPE html>
 <html lang="en" dir="ltr">
 
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RaidTools - Contact Us</title> 
    <link rel="shortcut icon" href="/img/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/contact.css">

     <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
 </head>
 
 <body class="home-section">
         <center>
             <div class="container">
                 <div class="content">
                     <div class="left-side">
                         <div class="address details">
                             <i class="fab fa-github" id="lg"></i>
                             <div class="topic">Our github</div>
                             <div class="text-one"> <a class="link" target="_blank"
                                     href="https://github.com/llx404">llx404</a></div>
                             <div class="text-two"><a class="link" target="_blank"
                                     href="https://github.com/lyadd">lyadd</a></div>
                         </div>
                         <div class="phone details">
                             <img src="/img/contact.png"
                                 id="lg" alt="support" width="36">
                             <div class="topic" style="text-decoration: none;">Contact</div>
                             <div class="text-one"> <a class="link" href="/contact">Contact us</a></div>
                         </div>
 
                     </div>
                     <div class="right-side">
                         <H1><a class="anim-link">Contact US</a></H1>
                         <form action="/send" method="get">
                             <div class="input-box">
                                 <input type="text" name="user" placeholder="User" minlength="3" maxlength="20"
                                     required>
                             </div>
                             <div class="input-box">
                                <input type="email" name="mail" placeholder="Mail" minlength="6" maxlength="96"
                                    required>
                            </div>
                             <div class="input-box message-box">
                                 <textarea name="msg" placeholder="Messages" minlength="3" maxlength="250"
                                 required></textarea>
                             </div>
                     
                             <div class="button">
                                 <input type="submit" id="gobtn" onclick="c()" value="Send">
                             </div>
                         </form>
                     </div>
                 </div>
             </div>
         </center>
      

 </body>
 
 </html>