<!-- 
   @{Author}: https://github.com/llx404    
 -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RaidTools - Login</title>
    <link rel="shortcut icon" href="/img/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/verif.css">
    
    <meta data-react-helmet="true" charset="utf-8" />
    <meta data-react-helmet="true" property="og:title" content="RaidTools™ (Panel)" />
    <meta data-react-helmet="true" property="og:description"
        content="RaidTools is a powerful Discord tool that can do everything faster than your shadow." />
    <meta data-react-helmet="true" name="description"
        content="RaidTools is a powerful Discord tool that can do everything faster than your shadow." />
    <meta data-react-helmet="true" property="og:image" content="/img/logo.png" />
    <meta data-react-helmet="true" property="twitter:image" content="/img/logo.png" />
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff" data-react-helmet="true">
</head>

<body>
    <div class="wrapper">
        <h2>Login</h2>
        <form action="/verif" method="get">
            <div class="input-box">
                <input type="password" name="mdp" placeholder="Le mot de passe ?" required>
            </div>
            <div class="policy">
                <input type="checkbox" required>
                <h3>I agree to all terms and conditions</h3>
            </div>
            <div class="input-box button">
                <input type="submit" value="Login now">
            </div>
            <!-- <div class="text">
                <h3><a href="#">Login with Discord</a></h3>
            </div> -->
        </form>
    </div>


</body>

</html>